.logo-container {
    z-index: 0;
    width: 660px;
    height: 765px;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg {
        bottom: 0;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(-15deg);
        z-index: 1;
    }
}

.svg-container {

    stroke: #ffd700;
    stroke-width: 0.5px;
    opacity: 0.7;
}

.svg-container-infinity {
    position: absolute;
    width: 120px;
    height: 120px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(590px, -565px);
}

.svg-container-plus {
    position: absolute;
    width: 120px;
    height: 120px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(633px, -565px);
}

.svg-container-eyeglass {
    position: absolute;
    width: 130px;
    height: 135px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(678px, -555px);
}

.svg-container-equals {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(595px, -494px) scale(0.3, 0.3);
}

.svg-container-sunglasses {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(697px, -488px) scale(0.3, 0.3);
}

.svg-container-keyboard {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(235px, 45px) scale(1.5, 1.5);
}

.svg-container-lamp {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(586px, -145px);
}

.svg-container-mouse {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(410px, -8px);
}

.svg-container-piggy-bank {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(220%, 128px);
}

.svg-container-cup-straw {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(15px, -141px);
}

.svg-container-earbuds {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(590px, 0px);
}

.svg-container-desktop {
    position: absolute;
    width: 300px;
    height: 300px;
    stroke: #ffd700;
    stroke-width: 0.2px;
    transform: translate(210px, -272px);

}